/Poo/ejer1/ejer1/nbproject/private/
/Poo/ejer1/ejer1/build/
/Poo/ejer2/ejer2/nbproject/private/
/Poo/ejer2/ejer2/build/
/Poo/ejer3/ejer3/nbproject/private/
/Poo/ejer4/ejer4/nbproject/private/
/Poo/ejer4/ejer4/build/